/* General styles ------*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}
nav {
  height: 10vh;
  width: 100%;
  opacity: 0.9;
  position: fixed;
  z-index: 2;
  transition: background 0.8s;
}
.bg-black {
  background-color: #333333;
}
.text-white a {
  color: white;
}
/* End of general styles*/

/* Navbar --------------*/
#language_select {
  position: absolute;
  top: 10px;
  left: 10px;
}
.navbar-list {
  list-style: none;
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
}
.navlink {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
}
.navlink:hover {
  color: inherit;
  text-decoration: none;
}
.navlink::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: currentColor;
  transition: width 0.3s;
}
.navlink:hover::after {
  width: 100%;
  transition: width 0.3s;
}
/* End of navbar -------*/

/* Main content --------*/
.main-wrapper {
  padding: 5rem;
}
/* End of main content*/

/* Header --------------*/
#particles-js {
  height: 100%;
  width: 100%;
  background: #8d8c8c;
}
#header {
  text-align: center;
  display: block;
  position: relative;
  top: 20vh;
  width: 100%;
  height: 80vh;
  color: #000000;
}
#header-heading {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 6px;
  margin-bottom: 40px;
  background: white;
  animation: text 3s 1;
}
#header-sub-heading {
  font-size: 30px;
}

@keyframes text {
  0% {
    color: white;
    letter-spacing: 40px;
    margin-bottom: -40px;
  }
  100% {
    letter-spacing: 6px;
    margin-bottom: 40px;
  }
}
/* End of header -------*/

/* About me ------------*/
.container-stack {
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2.5rem;
}

.stack-icon {
  height: 100px;
  width: 100px;
}
/* End of about me ------*/

/* Portfolio ------------*/
.card {
  position: relative;
  z-index: 1;
}
/* End of portfolio -----*/

/* Contact --------------*/
.contact {
  padding: 1rem;
}
.contact-heading {
  /*color: white;*/
  letter-spacing: 0.1rem;
  font-weight: 800;
}
.contact-information {
  font-weight: 600;
}
.social-networks {
  padding: 2.5rem;
}
.social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding-bottom: 3rem;
}
.social-item {
  display: flex;
  justify-content: center;
}
/* End of contact -------*/

/* Footer ---------------*/
/* End of footer --------*/

/* Scroll to top button */
#scrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}

#scrollToTop:active {
  background: grey;
}
/* End of scroll to top button */

/* Media queries --------------*/
@media screen and (max-width: 768px) {
  /* Nav media queries */
  .navbar-list {
    position: fixed;
    background: #333333;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .navbar-list.open {
    clip-path: circle(1200px at 90% -20%);
    -webkit-clip-path: circle(1200px at 90% -20%);
    pointer-events: all;
  }
  .navbar-list-link {
    opacity: 1;
  }
  .navlink {
    font-size: 25px;
  }
  .navbar-list-link:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .navbar-list-link:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .navbar-list-link:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .navbar-list-link:nth-child(3) {
    transition: all 0.5s ease 0.8s;
  }
  li.fade {
    opacity: 1;
  }
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  .hamburguer {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 10;
  }
  /* End of nav media queries*/

  .main-wrapper {
    padding: 1.5rem;
  }

  .container-stack {
    padding: 2rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}
/* End of media queries -------*/
